{% extends 'base.html.twig' %}

{%  block title %}
    {{ miss.title }}
{% endblock %}

{% block body %}

    {% set author = miss.userSoc %}


        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ miss.title }}</h1>
                    <p>{{ miss.description | raw }}</p>
                        <strong>Compétences éxigées: </strong> <strong>{{ miss.skills.title }}</strong>
                    <p class="h2">
                        <strong>{{ miss.title }}</strong> pour <strong>{{ miss.price }}&euro;
                        </strong>

                    </p>
                    <a href="{{ path('apply_create',{'slug' : miss.slug})  }}" class="btn btn-primary">Postuler!</a>

                                {% if app.user and app.user == miss.userSoc %}
                                    <a href="{{ path('miss_edit', {'slug': miss.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
                                    <a href="{{  path('miss_delete', {'slug' : miss.slug}) }}" class="btn btn-danger" oneclick="return confirm(`Etes vous sur de vouloir supprimer l'annonce : {{miss.title}}?`)">Supprimer l'annonce</a>
                                {% endif %}
                </div>


                    <div class="col">
                        <div class="alert alert-light">

                            <h2 class="alert-heading">Votre société</h2>
                            <div class="row">
                                <div class="col-3">
                                <img src="{{ author.picture }}" class="avatar avatar-medium" alt="Avatar de {{ author.name }}">
                                </div>
                                <div class="col-9">
                                <h4>
                                    <a href="{{  path('usersoc_show', {'slug': miss.userSoc.slug}) }}">{{ author.name }}</a>
                                </h4>

                                <span class="badge badge-primary">{{author.missions|length }} missions</span>
                                </div>
                            </div>
                            {{ author.introduction | raw }}
                            </div>

                        <a href="{{ path('usersoc_show', {'slug': miss.userSoc.slug}) }}" class="btn btn-primary"> Plus d'info {{ author.name }}</a>
                        </div>

                    </div>
        </div>

    </div>





{% endblock %}
