{% extends 'admin/base.html.twig' %}

{% block title %}Administration des candidatures{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des candidatures</h1>

        <table class="table-over">
            <thead>
            <tr>
                <th>ID</th>
                <th>mission :</th>
                <th>Candidat:</th>
                <th>Employeur:</th>

                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for apply in pagination.data %}
                <tr>
                    <td>{{ apply.id }}  </td>
                    <td>{{ apply.mission.title }}</td>
                    <td>{{ apply.freelancer.fullName }} </td>
                    <td>{{ apply.userSoc.name}}  </td>
                    <td><a href="#" class="btn btn-primary"><i class="fas fas-edit"></i></a>
                        <a href="{{ path('admin_apply_delete', {'id' : apply.id}) }}" class="btn btn-danger"><i class="fas fas-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="d-flex mt-5 justify-content-center">
            {% set page = pagination.page %}
            {% set pages = pagination.pages %}
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('admin_apply', {'page' : page-1}) }}">&laquo;</a>
                </li>
                {%  for i in 1..pages %}
                    <li class="page-item {% if page == i %}active{% endif %}">
                        <a class="page-link" href="{{ path('admin_apply', {'page' : i}) }}">{{ i }}</a>
                    </li>
                {%  endfor %}
                <li class="page-item {% if page == pages %}disable{% endif %}">
                    <a class="page-link" href="{{ path('admin_apply', {'page' : page+1}) }}">&raquo;</a>
                </li>
            </ul>
        </div>


    </div>
{% endblock %}
