{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="{{ user.picture }}"  alt="Avatar de {{ user.fullName }}" class="avatar">
                <br>

            </div>
            <div class="col-9">

                <h1>{{ user.fullName }}</h1>
                {% if user is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
                        <a href="{{ path('account_password') }}" class="btn btn-primary mr-2 mb-2">Modifier mon mot de passe</a>
                    </div>
                {% endif %}
            </div>
        </div>

        {{ user.introduction | raw }}
        <hr>

        <h2>les missions de {{ user.fullName }} </h2>



            <div class="alert alert-warning">
                <p>
                    <strong>{{ user.fullName }} n' a pas encore de mission(s)</strong>
                </p>
            </div>
    </div>

{% endblock %}